  <div class="tagList">
    <h5>热门标签</h5>
    <ul>
    <% @tags.each do |tag| -%>
      <li>
        <%= link_to_unless_current("##{h tag.name}", tag_url(tag)) do
          ("<span class='cur'>##{h tag.name}</span>").html_safe
        end %>
        <em class="num"><%= tag.weight %></em>
      </li>
    <% end -%>      
  </div>
