body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html{background:#e2f3ff;color:#707070;width:384px;height:444px;overflow:hidden;}
body{font:13px/1.231 "微软雅黑", "Microsoft yahei", "宋体",arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small}
select,input,textarea,button{font:99% arial,helvetica,clean,sans-serif}
table{font-size:inherit;font:100%}
a,img{border:0;}
a{color:#2197ef;text-decoration:none;outline:none;}
a:hover{color:#f00;text-decoration:none;}

.wrap{border-left:1px solid #798ca3;border-bottom:1px solid #798ca3;}
.wrap .hd{height:60px;overflow:hidden;}
.wrap .bd{padding:16px 16px 0 16px;height:365px;overflow:hidden;}

.hd{height:60px;overflow:hidden;}
h1{float:left;}
.loginInfo{float:right;margin:30px 0 0 0;font-size:93%;line-height:100%;}
.loginInfo a{float:left;display:block;padding:0 6px;color:#acacac;border-left:1px solid #acacac;}
.loginInfo a:hover{color:#f00;}
.loginInfo .uname{color:#2197ef;border-left:0;}

.borderl0{border-left:0;}

.inputBox{}
.inputBox .pDone{float:right;}
.inputText{background:#fff;margin-bottom:11px;width:350px;height:316px;overflow:hidden;border:1px solid #ccc;}
.inputText textarea{margin:8px 10px;width:330px;height:300px;color:#858383;font-size:108%;font-weight:100;line-height:180%;border:0;}
.pDone{background:url(../assets/bookmarklet.gif) no-repeat 0 0;width:56px;height:25px;border:0;color:#fff;font-size:108%;line-height:25px;cursor:pointer;}
.pDone:hover{background-position:-71px 0;}
.pWrite{background:url(../assets/bookmarklet.gif) no-repeat -145px 0;width:67px;height:25px;border:0;color:#fff;font-size:108%;line-height:25px;cursor:pointer;}
.pWrite:hover{background-position:-231px 0;}

.listBox{margin:12px 12px 0 12px;}
.listBox .pWrite{float:right;}
.listBox em{font-size:93%;}
.marginb60{margin-bottom:60px;}
.listTitle{margin-bottom:16px;color:#707070;font-size:108%;line-height:100%;}
.pTitle{margin-bottom:14px;height:46px;overflow:hidden;font-size:108%;line-height:180%;}
.pTitle a{color:#0aa7d6;text-decoration:underline;}
.tag0{font-size:123.1%;line-height:180%;}
.relatedLink{margin-bottom:12px;height:100px;overflow:hidden;}

.userTable{margin-top:46px;}
.userTable .links{margin-top:20px;}
.userTable .links a,.userTable .links .cur{margin-bottom:26px;font-size:108%;padding:0 8px;line-height:100%;color:#acacac;}
.userTable .coll{padding:4px 4px 10px 0;width:108px;font-size:108%;font-weight:bold;line-height:130%;text-align:right;vertical-align:top;color:#acacac;}
.userTable .colr{padding-bottom:10px;text-align:left;vertical-align:top;position:relative;}
.userTable .colr a{color:#74a2c9;}
.userTable .colr a:hover{color:#f00;}
.userTable .tips{position:absolute;top:42px;left:0;}
.userTable small{margin-left:6px;color:#74a2c9;font-size:108%;}
.user-txt{width:240px;height:25px;font-size:108%;font-weight:bold;line-height:25px;color:#acacac;border:1px solid #acacac;}
.user-check{margin-right:4px;}
.login-btn{background:url(../assets/btn.gif) 0 -176px no-repeat;display:block;width:77px;height:32px;text-indent:-2000em;border:0;cursor:pointer;}
.login-btn:hover{background-position:-97px -176px;}
.signup-btn{background:url(../assets/btn.gif) -194px -176px no-repeat;display:block;width:77px;height:32px;text-indent:-2000em;border:0;cursor:pointer;}
.signup-btn:hover{background-position:-291px -176px;}
