<div class="listBox">
  <div class="listTitle">创建成功：</div>
  <h3 class="pTitle"><<%=link_to "2012 如果你看过《维基经济学》应该很熟悉作者Don Tapscott（唐.泰普斯科特）....", "#", :target=>"_blank" %></h3>
  <p class="marginb60"><em>全文127字</em></p>

  <div class="listTitle">相关留言：</div>
  <div class="relatedLink">
    <%=link_to "#TEDGlobal", "#", :class=>"tag0" :target=>"_blank" %>
    <samll>共3条</small>
  </div>        
  <input type="submit" value="再写一条" class="pWrite" />
  <%=link_to "再写一条", "#", :class=>"pWrite" %>
</div>
