      <table class="userTable">
        	<tbody>
            	<tr>
                	<td class="coll">用户名或邮箱：</td>
                    <td class="colr"><input class="user-txt" type="text" /></td>
                </tr>
                <tr>
                	<td class="coll">密码：</td>
                    <td class="colr"><input class="user-txt" type="text" /></td>
                </tr>
                <tr>
                	<td class="coll">&nbsp;</td>
                    <td class="colr">
                    	<div class="links"><span class="cur borderl0"><input class="user-check" type="checkbox" />下次自动登录</span>
                            <a href="#">忘记密码</a>
                        </div><br clear="all" />
                        <input type="submit" value="登录" class="pDone" />                   
                    </td>
                </tr>
            </tbody>
        </table>
