
  <div class="main">
    <div class="postEntry">
      <div class="postInfo">
        &nbsp;
      </div>

      <div class="postEditForm">
        <%= render 'form' %>
        <br clear="all" />
        <%= link_to 'Back', posts_path %>
      </div>
    </div>
  </div>
  <div class="sidebar">&nbsp;</div>
