<p id="notice"><%= notice %></p>

<p><%= simple_format(raw(recognize_stamps_as_links(h(@post.content))), {}, :sanitize => false) %><p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
